.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.form__container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 352px;
}

.form__error {
  height: 20px;
  color: #e93e3e;
}
