.subtitle {
  text-align: start;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.18px;
  color: #64ddbb;
  box-shadow: 2px 0px 0px 0px rgba(44, 57, 121, 0.1);
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 4px 2px;
  margin: 0;
  box-sizing: border-box;
}
