.input {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #373745;
  width: 100%;
  height: 48px;
  border: 1px solid #dcdcdf;
  border-radius: 12px;
  padding: 12px 20px;
  box-sizing: border-box;
}

.input:focus {
  outline: none;
  border: 1px solid #60c2aa;
}

.input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 48px #ffffff inset;
}

.input_type_error {
  border: 1px solid #e93e3e;
}

.input__error {
  display: flex;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.25px;
  text-align: start;
  color: #e93e3e;
}

::-webkit-input-placeholder {
  color: #b1b1b7;
}
::-moz-placeholder {
  color: #b1b1b7;
} /* Firefox 19+ */
:-moz-placeholder {
  color: #b1b1b7;
} /* Firefox 18- */
:-ms-input-placeholder {
  color: #b1b1b7;
}
