.taskTitle {
  text-align: start;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.18px;
  color: #373745;
  width: 100%;
  box-shadow: 2px 0px 0px 0px rgba(44, 57, 121, 0.1);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 2px 4px 0 4px;
}
